<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680910624455-ocvhpht9jrmvmk0h9hv654vh5rb21cql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680910624455-ocvhpht9jrmvmk0h9hv654vh5rb21cql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680910624455-4g767vqt5saqlvhbf58dmoc7j4q1nvmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDXaaEUf-X6YAInFDRU3ih3lKY39KYyJE</string>
	<key>GCM_SENDER_ID</key>
	<string>680910624455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fynlink.nutri</string>
	<key>PROJECT_ID</key>
	<string>menushenu-2828b</string>
	<key>STORAGE_BUCKET</key>
	<string>menushenu-2828b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680910624455:ios:bef1aab8edde4c244810e2</string>
	<key>DATABASE_URL</key>
	<string>https://menushenu-2828b-default-rtdb.firebaseio.com</string>
</dict>
</plist>